In [78]:
import pandas as pd
import numpy as np

Sl_no serial number

In [79]:
df = pd.read_csv('/mnt/c/users/ventu/wsl/python/Kaggle/Student Placement/Placement_Data_Full_Class.csv', index_col = 'sl_no')
df.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
sl_no,,,,,,,,,,,,,,
1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder

df_copy = df.copy().drop('salary',axis=1)
X = df_copy.drop('status',axis=1)
y = df_copy['status']

cat_cols = [col for col in X.columns if X[col].dtype == 'object']

ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)
ohe_df = pd.DataFrame(ohe.fit_transform(df[cat_cols]))

ohe_df.index = X.index
num_df = X.drop(cat_cols, axis =1)
post_df = pd.concat([num_df, ohe_df], axis=1)

In [81]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

y = le.fit_transform(y)
print(y)

[1 1 1 0 1 0 0 1 1 0 1 1 0 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 0 1 0
 1 1 1 1 0 0 1 1 0 0 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1
 1 0 1 1 1 0 1 1 0 1 1 1 1 0 1 1 1 0 1 0 1 1 1 0 1 0 0 1 1 1 1 0 0 1 1 0 1
 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 1
 1 0 1 1 1 1 1 0 1 1 0 0 1 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0 1 1 1 0 1 0 0 1 0
 1 0 1 0 0 0 1 1 1 0 1 1 1 0 1 1 0 1 1 1 1 0 1 0 1 1 1 1 1 0]

In [82]:
train_X, val_X, train_y, val_y = train_test_split(post_df,y)

In [83]:
model = RandomForestClassifier(n_estimators=1000, random_state=0)
model.fit(train_X, train_y)
print(model.score(val_X,val_y))

0.8888888888888888

In [84]:
#Check to see how much only test scores influence placement or not
scores_X = num_df

train_scores_X, val_scores_X, train_scores_y, val_scores_y = train_test_split(scores_X, y)
model_scores = RandomForestClassifier(n_estimators=1000, random_state=0)
model_scores.fit(train_scores_X, train_scores_y)
print(model_scores.score(val_scores_X,val_scores_y))

0.7592592592592593